{% load static %}
<!doctype html>
<html lang="zh-CN">
<head class="x-admin-sm">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>


    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/bootstrap.min.js"></script>
    <title>云协同作战系统</title>
</head>

{#    <form action="backtest/" method="post">#}
{#        <label for="your_name">Your name: </label>#}
{#        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">#}
{#        <input type="submit" value="OK">#}
{#    </form>#}
{##}


<body>
<div class="layui-fluid ">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">

{#                        <div class="layui-inline layui-show-xs-block">#}
{#                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">#}
{#                        </div>#}
{#                        <div class="layui-inline layui-show-xs-block">#}
{#                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end"></div>#}
                        <div class="input-group mb-3" style="width: 50%">
                            <span class="input-group-text" id="inputGroup-sizing-default">输入tag</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input"
                                               aria-describedby="inputGroup-sizing-default" name="search_tag"
                                               id="search_tag">
                            <label class="input-group-text" for="inputGroupSelect01">选择作战场次</label>
                            <select class="form-select" name="num_battle" form="choose" id="num_battle">

                            {% for key in war_name_list %}
                                　　
                                <option value="{{ key }}" hassubinfo="true">{{ key }}</option>
                            {% endfor %}
                            </select>

{#                            <button class="btn btn-primary" lay-submit="" lay-filter="search">#}
{#                                <i class="layui-icon"></i></button>#}
                        <form action="/search/" method="post" id="choose">
                            <button class="btn btn-primary">查询</button>
                        </form>
                        </div>

                </div>
                {% load django_tables2 %}
                <div class="layui-card-body">
                    <p type="text" style="color: #666666">
                        静态作战数据表共有{{ table1.paginator.count }}条记录，分{{ table1.paginator.num_pages }}页显示。</p>
                </div>
                <div class="layui-card-body ">
                    {% render_table table1 %}
                    <br>
{#                    <div class="layui-card-body">#}
{#                        <p type="text" style="color: #666666">#}
{#                            静态作战平台数据表共有{{ table2.paginator.count }}条记录，分{{ table2.paginator.num_pages }}页显示。</p>#}
{#                    </div>#}
{#                    {% render_table table2 %}#}
                    <br>
                </div>
                <div class="layui-card-body">
                    <p type="text" style="color: #666666">
                        动态作战数据表共有{{ table3.paginator.count }}条记录，分{{ table3.paginator.num_pages }}页显示。</p>
                </div>
                {% render_table table3 %}

            </div>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData"> 获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll"> 验证是否全选</button>
    </div>
</script>
<script type="text/html" id="switchTpl">
    <!-- 这里的checked的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{ d.id }}" lay-skin="switch" lay-text="女|男" lay-filter="sexDemo"
            {#            {{ d.id == 10003 ? 'checked': ''}} >#}
</script>
<script>layui.use('laydate',
    function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

    });</script>
<script>layui.use('table',
    function () {
        var table = layui.table;

        //监听单元格编辑
        table.on('edit(test)',
            function (obj) {
                var value = obj.value //得到修改后的值
                    ,
                    data = obj.data //得到所在行所有键值
                    ,
                    field = obj.field; //得到字段
                layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
            });

        //头工具栏事件
        table.on('toolbar(test)',
            function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                }
                ;
            });
    });</script>


</html>