{% load myapp_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Page Title</title>
  <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/css/charts.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="/static/css/theme5.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
  <style>
    .navbar {
      border-radius: 0;
    }
  </style>
</head>

<body>
<div class="layui-fluid ">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form" action="/index_mark/" method="post" id="myForm" >
                        {% csrf_token %}
                         <div class="layui-form-item" style="width: 50%">
                            <label class="layui-form-label">场景</label>
                            <div class="layui-input-block">
                              <select name="tagid" lay-verify="required" id="tagid" lay-filter="test">
                                  {% if sel_tagid %}
                                  <option >...</option>
                                  {% else %}
                                  <option selected>...</option>
                                  {% endif %}

                                  {% for key in tagid %}
                                  {% if key == sel_tagid %}　　
                                    <option selected value="{{ key }}" hassubinfo="true">{{ key }}</option>
                                  {% else %}
                                    <option value="{{ key }}" hassubinfo="true">{{ key }}</option>
                                  {% endif %}
                                  {% endfor %}
                              </select>
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 50%">
                            <label class="layui-form-label">场次</label>
                            <div class="layui-input-block">
                              <select name="warname" lay-verify="required" id="warname" lay-filter="test">
                                  {% if sel_warname %}
                                  <option >...</option>
                                  {% else %}
                                  <option selected>...</option>
                                  {% endif %}

                                  {% for key in warname %}
                                  {% if key == sel_warname %}　　
                                    <option selected value="{{ key }}" hassubinfo="true">{{ key }}</option>
                                  {% else %}
                                    <option value="{{ key }}" hassubinfo="true">{{ key }}</option>
                                  {% endif %}
                                  {% endfor %}
                              </select>
                            </div>
                        </div>
                    </form>
                </div>
            {% if sel_warname and sel_warname != "..."%}
                <form class="layui-form" action="/index_mark/" method="post" id="choose">
                    {% csrf_token %}
                    <div class="layui-form-item" style="display: none">
                            <label class="layui-form-label">场次</label>
                            <div class="layui-input-block">
                              <select name="tagid" lay-verify="required" id="tagid">
                                    <option selected value="{{ sel_tagid }}" hassubinfo="true"></option>
                              </select>
                                <select name="warname" lay-verify="required" id="tagid">
                                    <option selected value="{{ sel_warname }}" hassubinfo="true"></option>
                              </select>
                            </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">更新</button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body ">
                    <div class="panel panel-default" style="overflow:scroll;">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                指标列表
                            </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                {% for obj in vals1 %}
                                    <th style={{ width}}>{{ obj }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                        {% for obj in queryset %}
                            <tr>
                                {% for item in vals1 %}
                                    <td>{{ obj|get_dict_attr2:item }}</td>
                                {% endfor %}
                            </tr>

                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>

            {% endif %}

            </div>
        </div>
    </div>

</div>




<script>
        layui.use('form', function(){
          var form = layui.form;

          form.on('select(test)', function(data){
              console.log(data.value);
              document.getElementById("myForm").action="/index_mark/"
              document.getElementById("myForm").submit();
            });

          //各种基于事件的操作，下面会有进一步介绍
        });

        function show(str){
                document.getElementById("myForm").action="/index_mark/?page="+str
	            document.getElementById("myForm").submit();
        }

    </script>

</body>
</body>

</html>
