<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Page Title</title>
  <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.min.css">
  <style>
    .navbar {
      border-radius: 0;
    }
  </style>
</head>

<body>
<br>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> 编辑index</h3>
        </div>
        <div class="panel-body">
            <form method="post" novalidate> <!--取消浏览器的校验，用自己写的-->
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label >{{field.label}}</label>
                        {{field}}
                        <span style="color: red;">{{field.errors.0}}</span>  <!--错误列表，我们只要显示第一个就行-->
                    </div>
                {% endfor %}
                <input type="radio" name="page" value="{{ page }}" checked style="display: none">

                <button type="submit" class="btn btn-primary">提 交</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script>
        $(function(){
            $('#dt').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: "zh-CN",
                autoclose: true
            });
        })
</script>
</body>

</html>