{% load myapp_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/css/charts.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="/static/css/theme5.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<div class="layui-fluid ">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="input-group mb-3" style="width: 100%">
{#                        数据集选择#}
                        <label class="input-group-text" >选择数据集</label>
                        <select class="form-select" name="dataset" form="choose" id="dataset">
                            {% if sel_dataset %}
                            <option >...</option>
                            {% else %}
                            <option selected>...</option>
                            {% endif %}

                            {% for key in dataset %}
                            {% if key == sel_dataset %}　　
                                <option selected value="{{ key }}" hassubinfo="true">{{ key|deal_tag }}</option>
                            {% else %}
                                <option value="{{ key }}" hassubinfo="true">{{ key|deal_tag }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
{#                        模型选择#}
                        <label class="input-group-text" >选择模型</label>
                        <select class="form-select" name="model" form="choose" id="model">
                            {% if sel_model %}
                            <option >...</option>
                            {% else %}
                            <option selected>...</option>
                            {% endif %}
                            {% for key in model %}
                            {% if key == sel_model %}    　　
                                <option selected value="{{ key}}" hassubinfo="true">{{ key }}</option>
                            {% else %}
                                <option value="{{ key}}" hassubinfo="true">{{ key }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>

                    </div>
                    <div class="input-group mb-3" style="width: 100%">
                        <div class="layui-form-item" style="width: 33%">
                            <label class="layui-form-label">lookback</label>
                            <div class="layui-input-block">
                              <input type="number" id="lookback" form="choose" name="lookback" required  lay-verify="required" placeholder="请输入预测长度，例如：20" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 33%">
                            <label class="layui-form-label">学习率</label>
                            <div class="layui-input-block">
                              <input type="text" id="lr"  form="choose" name="lr" required  lay-verify="required" placeholder="请输入学习率，例如：0.01" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 33%">
                            <label class="layui-form-label">epochs</label>
                            <div class="layui-input-block">
                              <input type="number" id="epochs" form="choose" name="epochs" required  lay-verify="required" placeholder="请输入epochs，例如：100" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                    </div>
                    <form action="/pos_pre/" method="post" id="choose">
                            {% csrf_token %}
                            <button class="btn btn-primary">&nbsp;训练模型&nbsp;</button>
                    </form>
                </div>

                    <br><br>

<!--                    展示的图表1-->
                    <div class="layui-card-body " id="main" style="width: 100%;height:780px;"></div>

                    <br><br>
                     <br><br>
<!--                    展示的图表2-->
                    <div class="layui-card-body " id="main2" style="width: 100%;height:780px;"></div>

                    <br><br>


                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
<!--时序预测曲线图-->
    var chartDom = document.getElementById('main');
var myChart = echarts.init(chartDom);
var option;

option = {
  title: {
    text: '时序预测曲线'
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['实际', '预测']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: {{ x1 | safe }},
      name:'帧数'
  },
  yAxis: {
    type: 'value',
        name: 'label',
  },
  series: [
    {
      name: '预测',
      type: 'line',
      {#stack: 'Total',#}
      data: {{ y1 | safe }}
    },
    {
      name: '实际',
      type: 'line',
      {#stack: 'Total',#}
      data: {{ y2 | safe }}
    }
  ]
};

option && myChart.setOption(option);

</script>

<script type="text/javascript">
<!--loss曲线图-->
    var chartDom = document.getElementById('main2');
var myChart = echarts.init(chartDom);
var option;

option = {
  title: {
    text: 'loss曲线'
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['train_loss']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: {{ x2 | safe }},
      name:'epoch'
  },
  yAxis: {
    type: 'value',
        name: 'loss',
  },
  series: [
    {
      name: 'train_loss',
      type: 'line',
      {#stack: 'Total',#}
      data: {{ y3 | safe }}
    },
  ]
};

option && myChart.setOption(option);

</script>

</body>
</html>